html {
  background-color: #00539F; /*blue color*/
}
/*maybe add some mouse effects later */

body {
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  width: 1200px;
  margin: 25px auto;
}

body.page1{
  background-color: #ffb5cc;  /*pink color*/
}

body.page2{
  background-color: black;
}

body.page3{
  background-color:  #0086b3;
}
body.page4{
  background-color: pink;
}

h1 {
  font-size: 40px;
  margin: 0 auto;
  margin-left: 20px;
  padding: 20px 0;
}

p {
  margin-top: 1em ; /*em = font size*/
  margin-bottom: 1em ;
  /* font-size: 60px; */
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top:60px;
  bottom:60px;
}

#glow {
-moz-box-shadow: 0 0 100px #FF0000;
-webkit-box-shadow: 0 0 100px #FF0000;
box-shadow: 0px 0px 100px #FF0000;
}

#top_right{
  position: fixed;
  top:0px;
  right:0px;
  width: 100px;
  height: 100px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

#top_left{
  position: fixed;
  top:0;
  left:0;
  width: 100px;
  height: 100px;
}

#bot_right{
  position: fixed;
  bottom:0;
  right:0;
  width: 100px;
  height: 100px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

#bot_left{
  position: fixed;
  bottom:0;
  left:0;
  width: 100px;
  height: 100px;
}

.row{
  position: fixed;
  left:0;
  width:140px;
  height:75px
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes move{
  0%   {left:0px; top:250px;}
  25%  {left:-550px; top:250px;}
  50%  {left:-550px; top:-300px;}
  75%  {left:0px; top:-300px;}
  100% {left:0px; top:250px;}
}

.glowing {
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0px 0px 0px lightblue
  }
  to {
    text-shadow: 0px 0px 50px white
  }


}
