html {
  background-color: #00539F; /*blue color*/
}
/*maybe add some mouse effects later */

body {
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  width: 1200px;
  margin: 25px auto;
}

body.page1{
  background-color: #ffb5cc;  /*pink color*/
}

body.page2{
  background-color: brown;  /*pink color*/
}

body.page3{

}
body.page4{}


h1 {
  font-size: 40px;
  margin: 0 auto;
  margin-left: 20px;
  padding: 20px 0;
}

p {
  margin-top: 1em ; /*em = font size*/
  margin-bottom: 1em ;
  /* font-size: 60px; */
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top:60px;
  bottom:60px;
}

#glow {
-moz-box-shadow: 0 0 100px #FF0000;
-webkit-box-shadow: 0 0 100px #FF0000;
box-shadow: 0px 0px 100px #FF0000;
}

#top_right{
  top:0;
  right:0;
}

#top_left{
  top:0;
  left:0;
}

#bot_right{
  bottom:0;
  right:0;
}

#bot_left{
  bottom:0;
  left:0;
}
